body{
background-color: #EE82EE;
color: gainsboro;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button{
background-color: cyan;
   color: gainsboro; 
font-family: "Bai Jamjuree", sans-serif;

}